@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600&display=swap');
html, body{
    background-color: #ffffff;
    font-family: 'Source Sans Pro', sans-serif;
    overflow-x: hidden !important;
    margin 0px !important;
    padding: 0px !important;
}
*{
    text-decoration: none !important;
}

.nav{
    position: fixed;
    z-index: 1000;
    top: 0;
    right: 0;
    left: 0;
    height: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 25px 0 25px;
    background-color: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.10);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.nav .links a{
    margin-right: 25px;
    font-size: 16px;
    font-weight: 600;
    color: #000;
    text-decoration: none;
}
.nav .links .mainlink{
    color: #0099ff;
}
.nav h4{
    font-size: 22px;
    font-weight: bold;
    margin-left: 25px;
}
/* Responsive */
@media only screen and (max-width: 600px) {

    .nav {
        flex-direction: column;
        justify-content: space-around;
        padding: 20px;
        height: auto;
        overflow-y: hidden;
    }

    .nav h4 {
        font-size: 6vw;
        margin-top: 10px;
        margin-bottom: 14px;
    }

    .nav .links a {
        margin-right: 25px;
        margin-left: 50px;
        font-size: 12px;
        font-weight: 600;
    }
}


/* Bagian Landing */

.landing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 10vw 0  10 vw;
    height: 100vh;
    margin-left: 50px;
}

.landingtext h1{
    font-size: 4vw;
    margin: 0 !important;
}

.landingtext h3{
    margin: 6px !important;
    font-size: 20px;
    opacity: 0.3;
    line-height: 30px;
}

.landingtext .btn{
    width: 200px;
    margin-top: 30px;
    font-size: 1.2vw;
    padding: 14px 20px 14px 20px;
    background-color: #2f8be0;
    color: #fff;
    border-radius: 45px;
    text-align: center;
}
.landingtext .btn a{
    font-size: 1.2vw;
    color: #fff;
}
.landingImage img{
    margin-top: 20px;
    margin-right: 50px;
    width: 500px;
}

/* Bagian About */

.about{
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.aboutText{
    position: relative;
    padding: 0 50px;
    height: inherit;
}

.aboutText h1{
    position: relative;
    left: 110px;
}

.aboutText img{
    width: 10vw;
    position: absolute;
    top: 50px;
}

.aboutList{
    width: 50%;
}

ol{
    list-style: none;
    color: #0099ff;
}

ol li{
    font-size: 34px;
    position: relative;
    margin-bottom: 20px;
    border-bottom: 1px solid #ebebeb;
}

li p{
    font-size: 16px;
    color: #000;
    padding-left: 60px;
    line-height: 30px;
    opacity: 0.6;
}

li span{
    position: absolute;
    line-height: 25px;
    font-weight: 600;
}

/* Fasilitas dan Layanan CSS */

.infoSection{
    height: 600px;
}

.infoHeader{
    text-align: center;
    margin-bottom: 40px;
}

.infoCards{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 40px 0 40px 0;
}

.infoCards .card{
    position: relative;
    height: 360px;
    width: 350px;
    background: #fff;
    box-shadow: 0 10px 22px rgba(0,0,0,0.09), 0 10px 10px rgba(0,0,0,0.09);
}

.infoCards .one .cardoneImg{
    width: 200px;
    position: absolute;
    top: -50px;
    right: -50px;
}

.infoCards .three .cardthreeImg{
    width: 200px;
    position: absolute;
    top: -20px;
    right: -50px;
}

.cardbgone{
    height: 150px;
    background-color: #2f8be0;
}

.cardbgtwo{
    height: 150px;
    background-color: #ffce63;
}


.cardContent{
    padding: 0 20px;
}

.cardContent h2{
    font-weight: 600;
}

.cardContent p{
    line-height: 30px;
    opacity: 0.6;
}

/* Responsive */
@media only screen and (max-width: 600px) {


    /* Bagian Landing */

    .landing{
        flex-direction: column-reverse;
        height: 750px;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    .landingtext h1{
        font-size: 6vw;
        margin: 0 !important;
    }

    .landingtext h3{
        font-size: 16px;
    }

    .landingtext .btn{
        margin: 0 auto;
    }

    .landingtext .btn a{
        font-size: 3vw;
    }

    .landingImage img{
        width: 52vw;
        margin-bottom: 20px;
    }

    /* Bagian About */

    .about{
        height: auto;
        padding: 0px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .aboutText{
        padding: 0 50px;
        height: 100px;
    }

    .aboutText h1{
        left: 40px;
        font-size: 5vw;
    }

    .aboutText img{
        width: 16vw;
        top: 10px;
        left: -30px;
    }

    .aboutList{
        width: 75%;
    }

    ol li{
        font-size: 26px;
    }

    li p{
        font-size: 14px;
    }

    .infoSection{
        height: auto;
    }

    .infoHeader{
        text-align: center;
        margin: 40px 0;
    }

    .infoCards{
        display: flex;
        flex-direction: column;
        padding: 50px;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .infoCards .card{
        margin-bottom: 60px;
    }
    .map img{
        display: none;
    }
}
.site-footer
{
    background-color:#2f8be0;
    padding:45px 0 20px;
    font-size:15px;
    line-height:24px;
    color:#fff;
}
.site-footer hr
{
    border-top-color:#bbb;
    opacity:0.5
}
.site-footer hr.small
{
    margin:20px 0
}
.site-footer h6
{
    color:#fff;
    font-size:16px;
    text-transform:uppercase;
    margin-top:5px;
    letter-spacing:2px
}
.site-footer a
{
    color:#fff;
}
.site-footer a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links
{
    padding-left:0;
    list-style:none
}
.footer-links li
{
    display:block
}
.footer-links a
{
    color:#fff;
}
.footer-links a i{
    padding: 20px;
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
    color:#3366cc;
    text-decoration:none;
}
.footer-links.inline li
{
    display:inline-block
}
.site-footer .social-icons
{
    text-align:right
}
.site-footer .social-icons a
{
    width:40px;
    height:40px;
    line-height:40px;
    margin-left:6px;
    margin-right:0;
    border-radius:100%;
    background-color:#ffff;
}
.copyright-text
{
    margin:0
}
@media (max-width:991px)
{
    .site-footer [class^=col-]
    {
        margin-bottom:30px
    }
}
@media (max-width:767px)
{
    .site-footer
    {
        padding-bottom:0
    }
    .site-footer .copyright-text,.site-footer .social-icons
    {
        text-align:center
    }
}
.social-icons
{
    padding-left:0;
    margin-bottom:0;
    list-style:none
}
.social-icons li
{
    display:inline-block;
    margin-bottom:4px
}
.social-icons li.title
{
    margin-right:15px;
    text-transform:uppercase;
    color:#96a2b2;
    font-weight:700;
    font-size:13px
}
.social-icons a{
    background-color:#eceeef;
    color:#818a91;
    font-size:16px;
    display:inline-block;
    line-height:44px;
    width:44px;
    height:44px;
    text-align:center;
    margin-right:8px;
    border-radius:100%;
    -webkit-transition:all .2s linear;
    -o-transition:all .2s linear;
    transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
    color:#fff;
    background-color:#29aafe
}
.social-icons.size-sm a
{
    line-height:34px;
    height:34px;
    width:34px;
    font-size:14px
}
.social-icons a.facebook:hover
{
    background-color:#3b5998
}
.social-icons a.twitter:hover
{
    background-color:#00aced
}
.social-icons a.linkedin:hover
{
    background-color:#06d6a0;
}
.social-icons a.dribbble:hover
{
    background-color:#ea4c89
}
@media (max-width:767px)
{
    .social-icons li.title
    {
        display:block;
        margin-right:0;
        font-weight:600
    }
}

